/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #62812d;
  width: 550px;
  height: 400px;
}

#name {
  margin: 0 auto;
  padding: 10px;
  color: #ffd;
}

.carier {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10px;
  background-color: #000;
  width: 200px;
  gap: 5px;
}

#start {
  align-items: center;
  background-color: #ffd700;
  margin: 0 auto;
  width: 100px;
  padding: 20px;
  border: none;
  border-radius: 8px;
}

#end {
  background-color: #191970;
  margin: 0 auto;
  width: 100px;
  padding: 20px;
  border: none;
  border-radius: 8px;
}

#check {
  background-color: #ffd700;
  color: #808080;
  margin: 0 auto;
  width: 150px;
  padding: 20px;
  border: none;
  border-radius: 8px;
}

#display {
  background-color: #191970;
  margin: 0 auto;
  width: 150px;
  height: fit-content;
  padding: 20px;
  border: 2px solid #4b0082;
} */
